<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  <link rel="stylesheet" href="/style.css">
  <title>News List</title>
  <link rel="shortcut icon" href="/newsfavicon.ico" type="image/x-icon" />
</head>

<body>
  <header>
    <div class="ui large top inverted fixed menu">
      <div class="ui container">
        <a href="/" class="item"><i class="paragraph large icon inverted"></i>News API</a>
        <a href="/top-headlines" class="item">Top Headlines</a>
        <a href="/sources" class="item">Our Sources</a>
        <% if (!currentUser) { %>
        <a href="/login" class="right item">Login</a>
        <a href="/register" class="item">Sign Up</a>
        <% } else { %>
        <a class="right item" href="#">Signed In As <%= currentUser.username %></a>
        <a class="item" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </header>
  <% if (error && error.length > 0) { %>
  <div class="ui error message">
    <div class="header">
      Error!
    </div>
    <i class="close icon"></i>
    <p><%= error %></p>
  </div>
  <% } %>
  <% if (success && success.length > 0) { %>
  <div class="ui success message">
    <div class="header">
      Success!
    </div>
    <i class="close icon"></i>
    <p><%= success %></p>
  </div>
  <% } %>