body {
  font-family: Arial, Helvetica, serif;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

li {
  list-style: none;
}

img {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  display: block;
}

.container .main {
  width: 80%;
}
