body {
  font-family: Arial, Helvetica, serif;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

li {
  list-style: none;
}

img {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  display: block;
}

.container .main {
  width: 80%;
}

.container a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
}

.container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui .button {
  margin: 0;
}
