body {
  font-family: Arial, Helvetica, serif;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

li {
  list-style: none;
}

img {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  display: block;
}

.articles {
  width: 80%;
  border: 1px solid grey;
  margin: auto;
  padding: 20px;
}

.news {
  border: 1px solid grey;
}

.top {
  border: 1px solid grey;
}