:root {
  --primary-background: rgba(0, 0, 0, 0.87);
}

body {
  background-color: var(--primary-background);
}

/* =================================== */
/* Landing */
/* =================================== */

.masthead.center.aligned.segment {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center.aligned.container {
  margin-top: 50.53px;
}

/* Landing Form */

.ui.input {
  width: 500px;
}

.ui.tiny.submit.button {
  margin: 2px 0 0 0;
  width: 500px;
}

/* Landing Font */

.ui.inverted.header {
  font-size: 4em;
}

h2 {
  margin: 30px 0;
  font-size: 1.7em;
}

/* =================================== */
/* Sources */
/* =================================== */

.sources {
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
}

/* .ui.cards .card {
  display: none;
} */

/* Search Bar */

.ui.input.search-bar {
  width: 50%;
  margin-top: 6em;
  width: 100%;
  padding: 0 20%;
  border: 0;
}

.search-text {
  width: 100%;
}

/* Display */

.display {
  display: block;
}

/* =================================== */
/* Top-Headlines & Search */
/* =================================== */

.container.segment {
  margin: 80px 0;
  width: 60%;
}

img {
  max-height: 170px;
}

.floated.primary.button {
  margin-top: 50px;
}

/* =================================== */
/* Login / Register */
/* =================================== */

#login {
  width: 40%;
}

#register {
  width: 40%;
}

/* =================================== */
/* Flash Messages */
/* =================================== */

.ui.message {
  margin: 50.53px 0 0 0;
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
}

.ui.message > p {
  margin: 0;
}
