<% include partials/header %>

<div class="article">
  <form action="/search" method="GET">
    <h1>Search Your News Feed</h1>
    <input type="text" placeholder="Search Your News" name="search">
    <input type="submit">
    <a href="/sources">Search Sources</a>
  </form>
</div>

<% include partials/footer %>