<% include partials/header %>

<div class="ui main text container segment">
  <form class="ui form" action="/search" method="GET">
    <h1>Search Your News Feed</h1>
    <div class="ui input">
      <input type="text" placeholder="Search Your News" name="search">
    </div>
    <button class="ui primary button">
      Submit
    </button>
    <a href="/sources">Search Sources</a>
    <a href="/top-headlines">Top Headlines</a>
  </form>
  <form class="ui form" action="/personal/new">
    <button type="submit">Add Article</button>
  </form>
</div>

<% include partials/footer %>