<% include partials/header %>

<div class="ui main text container segment">
  <form class="ui form" action="/search" method="GET">
    <h1>Your Source of Financial News</h1>
    <div class="ui input">
      <input type="text" placeholder="Search Your News" name="search">
    </div>
    <button class="ui primary button">
      Submit
    </button>
    <a class="source" href="/sources">Our Sources</a>
    <a class="headline" href="/top-headlines">Top Headlines</a>
  </form>
  <!-- <form class="ui form" action="/personal/new">
    <button class="ui orange button" ype="submit">Add Article</button>
  </form> -->
</div>

<% include partials/footer %>