<% include partials/header %>

<form action="/personal" method="POST">
  <div class="ui input">
    <h3>Title:</h3><input type="text" name="title" placeholder="Title">
  </div>
  <div class="ui input">
    <h3>Image:</h3><input type="text" name="image" placeholder="Image">
  </div>
  <div class="ui input">
    <h3>Article:</h3><input type="text" name="article" placeholder="Text">
  </div>
  <button class="ui primary button" type="submit">Submit</button>
</form>

<% include partials/footer %>