<% include partials/header %>

<form action="/personal" method="POST">
  Title: <input type="text" name="title" placeholder="Title">
  Image: <input type="text" name="image" placeholder="Image">
  Article: <input type="text" name="article" placeholder="Text">
  <button type="submit">Submit</button>
</form>

<% include partials/footer %>