<% include partials/header %>

<div class="article">
  <form action="/" method="GET">
    <h1>Search Your News Feed</h1>
    <input type="text" placeholder="Search Your News" name="search">
    <input type="submit">
  </form>
  <% for (let i = 0; i < data.articles.length; i++) { %>
  <li>
    <h2><%= data.articles[i].title %></h2>
    <p><%= data.articles[i].description %></p>
    <img src="<%= data.articles[i].urlToImage %>">
    <a href="<%= data.articles[i].url %>">Find Out More</a>
  </li>
  <% } %>
</div>

<% include partials/footer %>